%h1 Listing properties

%table.table.table-striped
  %thead
    %tr
      %th Mortgagee
      %th Hc
      %th Building
      %th Renovation
      %th H type
      %th R type
      %th Staying
      %th P type
      %th
      %th
      %th

  %tbody
    - @properties.each do |property|
      %tr
        %td= property.mortgagee
        %td= property.hc
        %td= property.building
        %td= property.renovation
        %td= property.h_type
        %td= property.r_type
        %td= property.staying
        %td= property.p_type
        %td= link_to 'Show', property
        %td= link_to 'Edit', edit_property_path(property)
        %td= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Property', new_property_path
